manifest {
    name            = 'nf-liftover'
    description     = 'End-to-end liftover and chain-generation pipeline'
    version         = '0.1.0'
    nextflowVersion = '>=26.0.0'
}

plugins {
    id 'nf-schema@2.2.0'
}

params {
    help            = false
    id              = null
    ref_fa          = null
    query_fa        = null
    ref_fai         = null
    query_fai       = null
    mapping          = null
    outdir           = 'results'
    pair_strategy    = 'suffix'
    align_mode       = 'auto'
    split_threshold  = 100_000_000
    split_size       = 10_000_000
    split_bed        = null
    split_genome_fai = null
    flank            = 100

    conda_dir = '/project/software/miniforge3'
    conda_envs = [
        ngs: 'bioinfo',
        py : 'py-13',
    ]
}

includeConfig 'conf/base.config'
includeConfig 'conf/conda.config'
includeConfig 'conf/slurm.config'

conda {
    enabled  = true
    useMamba = true
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
}
