params {
    max_cpus   = 16
    max_memory = '60.GB'
    max_time   = '48.h'

    aligner      = params.aligner      ?: 'minimap2'
    aligner_envs = params.aligner_envs ?: [ minimap2: params.conda_envs?.ngs ?: 'nf-liftover-tools' ]
}

process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'terminate' }
    maxRetries = 2

    resourceLimits = [
        cpus:   params.max_cpus,
        memory: params.max_memory,
        time:   params.max_time
    ]

    withLabel: 'small_mem' {
        cpus   = 1
        memory = 8.GB
        time   = 24.h
    }

    withLabel: 'medium_mem' {
        cpus   = 4
        memory = 20.GB
        time   = 24.h
    }

    withLabel: 'split_mem' {
        cpus   = 8
        memory = { 16.GB * task.attempt }
        time   = 6.h
    }

    withLabel: 'large_mem' {
        cpus   = params.max_cpus
        memory = { 60.GB * task.attempt }
        time   = params.max_time
    }
}
