process {
    withLabel: 'tool_ngs' {
        conda        = "${params.conda_dir}/envs/${params.conda_envs.ngs}"
        beforeScript = "export PATH=${params.conda_dir}/envs/${params.conda_envs.ngs}/bin:\$PATH"
    }

    withLabel: 'tool_py' {
        conda        = "${params.conda_dir}/envs/${params.conda_envs.py}"
        beforeScript = "export PATH=${params.conda_dir}/envs/${params.conda_envs.py}/bin:\$PATH"
    }

    withLabel: 'tool_py_ngs' {
        conda        = "${params.conda_dir}/envs/${params.conda_envs.py}"
        beforeScript = "export PATH=${params.conda_dir}/envs/${params.conda_envs.py}/bin:${params.conda_dir}/envs/${params.conda_envs.ngs}/bin:\$PATH"
    }
}
