process {
    withLabel: 'tool_ngs' {
        conda        = "${params.conda_dir}/envs/${params.conda_envs.ngs}"
        beforeScript = "export PATH=${params.conda_dir}/condabin:${params.conda_dir}/bin:\$PATH; source ${params.conda_dir}/etc/profile.d/conda.sh"
    }

    withLabel: 'tool_py' {
        conda        = "${params.conda_dir}/envs/${params.conda_envs.py}"
        beforeScript = "export PATH=${params.conda_dir}/condabin:${params.conda_dir}/bin:\$PATH; source ${params.conda_dir}/etc/profile.d/conda.sh"
    }

    withLabel: 'tool_py_ngs' {
        conda        = "${params.conda_dir}/envs/${params.conda_envs.py}"
        beforeScript = "export PATH=${params.conda_dir}/condabin:${params.conda_dir}/bin:\$PATH; source ${params.conda_dir}/etc/profile.d/conda.sh"
    }
}
