process {
    withName: 'BUILD_QUERY_MMI' {
        ext.args = '-x asm5'
    }

    withName: 'ALIGN_WHOLE_CHROMOSOME' {
        ext.args = '-cx asm5 --cs'
    }

    withName: 'ALIGN_SPLIT_WINDOW' {
        ext.args = '-cx asm5 --cs'
    }

    withName: 'PAF_TO_CHAIN' {
        ext.args = ''
    }

    withName: 'LIFTOVER_BY_ID' {
        ext.args = ''
    }
}
