profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'normal'
    }

    slurm_new {
        process.executor = 'slurm'
        process.queue    = 'cae'
    }
}

executor {
    $slurm {
        queueSize    = 500
        pollInterval = '30sec'
    }
}
