conda {
    enabled  = true
    useMamba = true
}

params {
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '2.h'
}

process {
    resourceLimits = [
        cpus:   params.max_cpus,
        memory: params.max_memory,
        time:   params.max_time
    ]

    withLabel: 'large_mem' {
        cpus   = params.max_cpus
        time   = params.max_time
    }

    // Dynamic conda environments definition for automated tests
    withLabel: 'tool_ngs' {
        conda        = 'bioconda::samtools>=1.17 bioconda::seqkit>=2.4.0 bioconda::minimap2>=2.26 bioconda::transanno>=0.4.5'
        beforeScript = null
    }

    withLabel: 'tool_py' {
        conda        = 'conda-forge::pandas>=2.0.3 conda-forge::typer>=0.9.0 conda-forge::loguru>=0.7.0 bioconda::pyfaidx>=0.7.2.1'
        beforeScript = null
    }

    withLabel: 'tool_py_ngs' {
        conda        = 'conda-forge::pandas>=2.0.3 conda-forge::typer>=0.9.0 conda-forge::loguru>=0.7.0 bioconda::pyfaidx>=0.7.2.1 bioconda::samtools>=1.17 bioconda::seqkit>=2.4.0 bioconda::minimap2>=2.26 bioconda::transanno>=0.4.5'
        beforeScript = null
    }
}
